.wrap {
	width: 100%;
	}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 54.15%;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	}

.table_container {
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	}

.entry img {
	width: auto !important;
	height: auto !important;
	}

[class*='col-'] {
	float: none;
	width: auto;
	padding: 0;
	}


body {
	font-size: 15px;
	line-height: 21px;
	}

p, .title, .entry table, .entry form, .entry ul, .entry ol, .entry hr, blockquote, .slider {
	margin: 0 0 20px 0;
	}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title {
	line-height: 21px;
	}
h1, .h1, .title{
	font-size: 24px;
	line-height: 28px;
	}
h2, .h2{
	font-size: 22px;
	line-height: 24px;
	}
h3, .h3{
	font-size: 20px;
	line-height: 22px;
	}
h4, .h4{
	font-size: 18px;
	}
h5, .h5{
	font-size: 17px;
	}
h6, .h6{
	font-size: 16px;
	}

.b{
	font-size: 18px;
	line-height: 22px;
	}

.table tr th, .entry table tr th{
	padding: 8px 10px;
	line-height: 21px;
	}

.table tr td, .entry table tr td{
	padding: 8px 10px;
	line-height: 21px;
	}

.entry ul ul, .entry ol ul, ul.list ul, ol.list ul {
	margin: 5px 0 0 10px;
	}

.form_line{
	padding: 0 0 16px 0;
	}

.lab2{
	padding: 0 0 12px 0;
	}

.btn {
	min-height: 55px;
	padding: 15px 15px;
	}

.btn2 {
	padding: 10px 15px;
	}

.form_ok{
	padding: 10px;
	}

.form_error{
	padding: 10px;
	}


blockquote {
	padding: 15px;
	}


header {
	height: auto;
	}

.top_lk{
	display: none;
	}

.top_search{
	display: none;
	}

.show_nav{
	display: block;
	}

.nav_top_bg{
	height: auto;
	background: #fff !important;
	}

.nav_top{
	display: none;
	}

.nav_mob {
	display: block;
	}

.nav_top > ul > li {
	float: none;
	padding: 20px 15px 20px 35px !important;
	border-bottom: 1px solid #ededed;
	}

.nav_top > ul > li.nav_top_lk {
	background: url('images/nav_top_lk.png') no-repeat 10px center;
	}

.nav_top > ul > li.sub_nav:hover {
	background: #f0f0f0;
	}

.nav_top > ul > li > a {
	float: none;
	display: inline;
	height: auto;
	color: #000 !important;
	font-size: 16px;
	line-height: 21px;
	}

.nav_top > ul > li > a:hover, .nav_top > ul > li.sub_nav:hover > a {
	color: #1d36b4 !important;
	}

.nav_top > ul > li.sub_nav > a:before {
	width: 9px;
	height: 13px;
	background: url('images/sub_nav2.png') no-repeat !important;
	right: auto;
	left: -20px;
	transition: all 0.3s 0.02s ease;
	}

.nav_top > ul > li.sub_nav:hover > a:before {
	transform: translateY(-50%) rotate(90deg);
	}

.nav_top_sub {
	padding: 14px 0 0 15px;
	background: #f0f0f0;
	position: relative;
	top: 0px;
	}

.nav_top_sub ul {
	float: none;
	width: auto;
	padding: 0;
	}

.nav_top_sub ul li {
	padding: 8px 0;
	}

.home_top {
	margin: 0;
	padding: 20px 10px;
	}

.home_top_txt {
	padding: 20px 0 0 0;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	}

.home_top_txt:before {
	top: 0px;
	}

.home_top_txt h1 {
	font-size: 24px;
	line-height: 28px;
	}

.home_top_e {
	padding: 0 0 16px 0;
	}


.home_min{
	padding: 100px 10px 20px 10px;
	background: url('images/home_min.png') no-repeat 10px 20px;
	font-size: 18px;
	line-height: 22px;
	}


.home_title{
	padding: 20px 0;
	font-size: 18px;
	line-height: 22px;
	}

.home_title:before {
	top: 0px;
	}

.home_title_t{
	padding: 0 0 16px 0;
	font-size: 24px;
	line-height: 28px;
	}


.plans{
	height: 596px;
	padding: 28px 10px 0 10px;
	}

.plan_d {
	width: 90px;
	}

.plan_d3 {
	left: 80%;
	}


.tipes {
	padding: 20px 10px;
	}

.tipe {
	float: none;
	width: auto;
	max-width: 300px;
	height: auto;
	padding: 170px 20px 20px 20px;
	margin: 0 auto 10px auto;
	background-position: center 20px !important;
	}


.home_tab {
	padding: 20px 10px;
	}


#content {
	padding: 20px 10px;
	}

.docs_title {
	float: none;
	padding: 0;
	}

.docs_sorts {
	float: none;
	padding: 0 0 0 6px 0;
	}

.docs_sort {
	float: none;
	padding: 0 0 10px 0;
	}

.doc_list_r {
	margin: 0 0 0 75px;
	}


.p_nav {
	padding: 5px 0 15px 0;
	}

.p_nav a, .p_nav span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}

.p_nav .p_nav_prev{
	margin: 0 2px 0 0;
	}

.p_nav .p_nav_next{
	margin: 0 0 0 2px;
	}


.slick-dots {
	padding: 10px 0 0 0;
	}

.slick-dots li {
	padding: 0 1px !important;
	}

.slick-dots li button {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}



footer {
	padding: 20px 0;
	}

.copy{
	width: 150px;
	padding: 3px 0 0 12px;
	}

.show_bot_nav{
	display: block;
	}

.nav_bot{
	float: none;
	display: none;
	width: auto;
	}